<template>
  <div class="group">
    <input 
      :required="required"
      :class="classType"
      :type="inputType"
      :disabled="isDisabled"
      v-model="$parent[model]"
      @focus="focusInput"
      @blur="blurInput"
    >
    <label class="label"> {{ label }} </label>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

interface InputData {
  isFocused: boolean;
}

export default Vue.extend({
  props: {
    label: {
      type: String,
      required: true,
    },
    required: {
Error response from daemon: manifest for registry.gitlab.com/brains-platform/brains/node-api:c952bf03fbe4b78022a4ad62194d940eadea5d62 not found
      type: Boolean,
      default: false,
    },
    inputStyle: {
      type: String,
      default: 'primary',
    },
    inputType: {
      type: String,
      default: 'text',
    },
    model: {
      type: String,
      required: true,
    },
  },

  data(): InputData {
    return {
      isFocused: false,
    };
  },

  computed: {
    classType(): { [key: string]: boolean } {
      const { isFocused, inputStyle, $parent, model }: any = this;

      const classes: { [key: string]: boolean } = {
        input: true,
      };

      classes[`input--${inputStyle}`] = true;
      if (isFocused || $parent[model]) {
        classes[`input--focus`] = true;
        classes[`input--${inputStyle}--focus`] = true;
      }

      return classes;
    },

    isDisabled(): boolean {
      return this.inputStyle === 'disabled';
    },
  },

  methods: {
    focusInput(): void {
      if (this.inputStyle === 'disabled') {
        return;
      }

      this.isFocused = true;
    },

    blurInput(): void {
      this.isFocused = false;
    },
  },
});
</script>

<style lang="postcss">
.group {
  @apply relative m-2;
}

.input {
  @apply border-2 rounded border-solid p-2 bg-transparent text-base z-20; 
}

.input--focus {
  @apply outline-none;
}

.label {
  @apply absolute pb-0 text-grey-dark select-none z-10 bg-white;

  left: .5rem;
  top: calc(.5rem + 2px);

  transition: all 0.25s ease-out;
}

.input--focus ~ .label {
  @apply z-30 pl-1 pr-1;

  transform: translateY(calc(-1rem - 1px)) scale(.8);
}

@screen lg {
  .label {
    top: .5rem
  }
}

.input--primary {
  @apply border-black;
}

.input--primary--focus {
  @apply border-primary;
}

.input--primary--invalid {
  @apply border-red;
}

.input--primary--focus ~ .label {
  @apply text-primary;
}

.input--primary--invalid ~ .label {
  @apply text-red z-30 pl-1 pr-1;

  transform: translateY(-1rem) scale(.8);
}

.input--disabled {
  @apply border-grey bg-grey;
}

.input--disabled ~ .label {
  @apply text-grey-darker;
}
</style>
