<template>
  <div>
    {{ getUser.name }}
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import query from '@/graphql/getUser.graphql';

export default Vue.extend({
  data(): any {
    return {
      getUser: {
        name: ''
      }
    };
  },
  apollo: {
    getUser: {
      query: query.getUser
    }
  }
});
</script>

<style>

</style>
