<template>
  <div class="user-form">
    <Input inputType="email" model="email" label="Email" />
    <Input inputType="text" model="name" label="Name" />
    <Button text="Salvar" :action="createUser"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import Button from '@/components/Button.vue';
import Input from '@/components/Input.vue';

import mutation from '@/graphql/createUser.graphql';
import query from '@/graphql/user.graphql';

export default Vue.extend({
  components: {
    Button,
    Input,
  },

  data(): any {
    return {
      email: '',
      name: '',
    };
  },

  methods: {
    createUser(): void {
      this.$apollo.mutate({
        mutation: mutation.createUser,
        variables: {
          name: this.name,
          email: this.email,
        },
        update(store: any, result: any): void {
          const data: any = store.readQuery({ query: query.getUser });

          data.getUser.name = result.data.createUser.name;

          store.writeQuery({
            query: query.getUser,
            data,
          });
        },
      });
    },
  },
});
</script>

<style lang="postcss">
.user-form {
  @apply flex flex-col justify-center items-center;

  width: min-content;
}
</style>
