<template>
  <div id="app">
    <vue-extend-layouts />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import VueExtendLayouts from 'vue-extend-layout';

export default Vue.extend({
  name: 'App',
  components: { VueExtendLayouts },
});
</script>
